{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="(% static 'style.css'%)" rel="stylesheet">
</head>
<body>
    <h1>srank222</h1>
    {{ jmeno}}
    {{ barva}}
    <img src="(% static 'Piesek.jpg'%)">
    <li>sad awl jdhajdakdwahkdajgdhkawad hd uaghukd h aw diaw duahidawhgdi
        wau gdhaiudgwaiufwaghuifahfuia fhakfjbakfja bfaukf akajbfauk fbakfab
        ufabfukafka fbakubsk hfkafzhwf ksafw gkhabsfajwkjas
    </li>
</body>
</html>